# Please create the .env with following instructions

# do ifconfig on the hosting machine bash, get the value on the second bloc, after "inet".

# It will be the point on wich you will hit from other machines if you are not in localhost.

# Keep the /extension on each example url.

PONG_URL="http://localhost:8080/"
PONG_URL_BACK="http://localhost:8080/api"
PONG_URL_BACK_MOCKUP="http://localhost:8080/api_mockup"
