# Please create the /backend/.env with following instructions
# You should go on https://profile.intra.42.fr/oauth/applications -> register a new app
# Create your app with minimum rights and with the redirect_uri => http://localhost:8080/api/auth/42/redirect
# Then add CLIENT_ID = UID, CLIENT_SECRET = SECRET, CALLBACK_URL = redirect_uri
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=