.App {
  font-family: myFontPixel;
  width: 100vw;
  height: 100vh;;
  background-image: url('./img/bg.png');
  background-size: cover;
  color: white;
  font-size: 3rem;
  padding: 2rem;
}

/* Define a name to a font */
@font-face { 
  font-family: myFontPixel;
  src: url('./font/Pixel-LCD-7.woff');
}
